@charset "UTF-8";

/* common */
body {
  margin: 0;
}

img {
  vertical-align: bottom;
}

h1, h2, h3, p {
  margin: 0;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 4%;
}

/* header */
header {
  text-align: center;
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* main */

h2 {
  text-align: center;
}

.achivements {
  background-color: #f1f1f1;
}

.achivements ul {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  display: flex; 
  /* 横幅に並ぶ */
  justify-content: space-around;
}

.achivements_asscity {
  background-color: #e44d26;
}

.achivements_bonghabanjum {
  background-color: #1572b6;
}

.achivements_buk {
  background-color: #ebbc00;
}

.achivements ul li {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.works_box {
  max-width: 450px;
  margin: 40px auto;
}

.works_image {
  width: 100%;
  height: auto;
}

.works_box h3 {
  margin-top: 10px;
}

.works_box p {
  margin-top: 7px;
}

/* footer */
footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

header p {
  margin-top: 10px;
}